DirectoryIndex index.html index.php /index.php
ErrorDocument 404 /index.php
Options +FollowSymlinks
RewriteEngine on
RewriteRule ^page/([a-zA-Z0-9/_&=;-]+)$ index.php?p=$1
AddHandler php5-script .php
# AddHandler x-httpd-php5 .php
# AddHandler application/x-httpd-php5 .php
# compress all text & html:
AddOutputFilterByType DEFLATE text/html text/plain text/xml
<Files ~ "\.inc$">
Order allow,deny
Deny from all
</Files>