@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700,600);
/*Copyright 2013, Created by Andrew Trivette. All rights reserved.*/
* {
	margin: 0px;
	padding: 0px;
	outline: 0;
	border-collapse: collapse;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	line-height: 1.7;
	overflow-y: scroll;
}
a {
	text-decoration: none;
}
img {
	border: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	padding: 5px 0px;
	line-height:1;
}
h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.4em;
}
label {
	font-weight: bold;
	cursor:pointer;
	display:inline-block;
	margin:0 10px 0 5px;
}
input, select, textarea {
padding:10px 15px;	
}
ul, ol, dd, blockquote {
	margin: 5px 20px;
}
fieldset {
	padding: 10px;
}
dt {
	font-weight: bold;
}
p {
	margin: 10px 0px;
}
th {
	text-align: center;
	padding: 5px;
}
header, nav, article, section, footer {
	display: block;
}
.clearfix:after {
	display: table;
	content: " ";
	clear: both;
}
.ie7 .clearfix {
	zoom: 1;
	display: block;
}
/* ------- HTML Elements ---------- */
html, body {
	color: #333333;
}
a:link, a:visited {
	color: #660000;
}
a:hover, a:active {
	color: #990000;
}
th {
	background-color: #333333;
	color: #FFFFFF;
}
td {
	background-color: #FFFFFF;
}
/* -------- Content Styles -------- */
.product_thumb {
	border-color: #999999;
}
.product_thumb a span {
	color: #990000;
}
.container {
	background-color: #f1f1f1;
}
/* ------- Structural Id's --------- */
.main_wrapper {
	max-width: 960px;
	margin: 0px auto;
	text-align: center;
}
.banner {
	padding: 0;
}
.banner a.home {
	display: block;
	color: #333;
	padding: 15px 0;
}
.banner strong {
	display: none;
}
.menu {
	text-align: left;
	margin: 0px;
	background-color: #333;
}
.menu li {
	list-style-type: none;
	font-size: 1.2em;
	line-height: 1;
	float: left;
}
.menu a {
	display: block;
	padding: 15px 15px;
	color: #fff;
}
.menu a.current_page, .menu a:hover {
	background-color: #444;
}
.menu ul {
	margin: 0px;
}
.copy {
	text-align: left;
	padding: 20px 0;
	background-color: #FFFFFF;
}
.footer {
	clear: both;
	font-size: 12px;
}
.footer li {
	display: inline;
	padding: 0px 5px;
	margin: 0px 5px;
}
.breadcrumb a {
	display:block;
	float:left;
	position:relative;
	background-color:#999;
	color:#fff;
	margin-right:3px;
	padding:5px 10px 5px 22px;
	font-size:12px;
	line-height:1;
}
.breadcrumb a:after {
	display:block;
	content: ' ';
	position:absolute;
	top:0;
	right:-22px;
	height:0;
	width:0;
	border:11px solid transparent;
	border-left-color:#999;
	z-index:1001;	
}
.breadcrumb a:before {
	display:block;
	content: ' ';
	position:absolute;
	top:0;
	left:0;
	height:0;
	width:0;
	border:11px solid transparent;
	border-left-color:#fff;
}
.breadcrumb a:first-child {
	padding-left:10px;
}
.breadcrumb a:first-child:before {
border-left-color:transparent;	
}
.breadcrumb .current_page {
	display:block;
	float:left;
	position:relative;
	background-color:#f1f1f1;
	margin-right:20px;
	padding:5px 10px 5px 22px;
	font-size:12px;
	line-height:1;
}
.breadcrumb .current_page:after {
	display:block;
	content: ' ';
	position:absolute;
	top:0;
	right:-22px;
	height:0;
	width:0;
	border:11px solid transparent;
	border-left-color:#f1f1f1;	
}
.breadcrumb .current_page:before {
	display:block;
	content: ' ';
	position:absolute;
	top:0;
	left:0;
	height:0;
	width:0;
	border:11px solid transparent;
	border-left-color:#fff;
}
/* -------- Content Styles -------- */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: inline-block;
	text-align: center;
}
